<%= form_for ([@empresa,@ubicacion_geo])  do |f| %>
  <% if @ubicacion_geo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitud %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitud %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

