<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title text-center" >Videos del Producto</h2>
        </div>   
        <div class="col-lg-offset-5">
          <div class="btn-group">
            <a ><%= link_to "<button type='button'class='btn btn-info'>Nuevo</button>".html_safe, new_empresa_producto_item_producto_detalle_path  %></a> 
          </div>
          <div class="btn-group">
            <a ><%= link_to "<button type='button'class='btn btn-info'>Volver</button>".html_safe, empresa_producto_item_productos_path %></a>  
          </div>
        </div>            
        <% if @item_producto.detalles.empty? == false%>
        <div class="panel-body">
          <table class="table table-striped "> 
            <thead>
              <tr class="info">
               <th class="text-center"><h5><b>Descripcion</b></h5></th>
               <th class="text-center"><h5><b>Elaboracion</b></h5></th>
               <th class="text-center"><h5><b>Presentacion</b></h5></th>
               <th class="text-center"><h5><b>Packaging</b></h5></th>
               <th class="text-center"><h5><b>Origen</b></h5></th>
               <th class="text-center"><h5><b>Secanza</b></h5></th>
               <th class="text-center"><h5><b>Caracteristica</b></h5></th>
               <th class="text-center"><h5><b>Acciones</b></h5></th>
             </tr>
           </thead>
           <tbody>
            <% @detalles.each do |detalle| %>
            <div class="row">
              <tr class="active">

                <td><h5><%= detalle.descripción %></h5></td>
                <td><h5><%= detalle.elaboración %></h5></td>
                <td><h5><%= detalle.presentación %></h5></td>
                <td><h5><%= detalle.packaging %></h5></td>
                <td><h5><%= detalle.origen %></h5></td>
                <td><h5><%= detalle.secanza %></h5></td>
                <td><h5><%= detalle.característica %></h5></td>
                <td class="text-center">
                  <div class="btn-group btn-group-vertical">
                    <a><%= link_to 'Ver', empresa_producto_item_producto_detalle_path(@empresa,@producto,@item_producto,detalle),:class => "btn btn-info" %></a>
                    <a><%= link_to 'Editar', [:edit, @empresa,@producto,@item_producto,detalle],:class => "btn btn-info"%></a>
                    <a><%= link_to 'Eliminar', empresa_producto_item_producto_detalle_path(@empresa,@producto,@item_producto,detalle), method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-info" %></a>
                    <a><%= link_to 'Propiedades Específicas',empresa_producto_item_producto_detalle_prop_especificas_path(@empresa,@producto,@item_producto,detalle),:class => "btn btn-info"%></a>
                  </div>
                </td>
              </tr>
            </div>

            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>


