<%= form_for([@empresa,@producto,@item_producto]) do |f| %>
  <% if @item_producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_producto.errors.count, "error") %> prohibited this item_producto from being saved:</h2>

      <ul>
      <% @item_producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-horizontal" >
    <fieldset>
        <legend>Datos de Presentación del Producto</legend>
        <div class="form-group">
          <label for="" class="col-lg-2 control-label">Marca:</label>
          <div class="col-lg-10">
            <%= f.text_field :marca, class: "form-control", placeholder: "Marca"%>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-2 control-label">Imagen:</label>
          <div class="col-lg-10">
            <%= f.file_field :image, class: "form-control"%>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-2 control-label">Tipo:</label>
          <div class="col-lg-10">
            <%= f.text_field :tipo, class: "form-control", placeholder: "Tipo"%>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-lg-2 control-label">Precio unitario:</label>
          <div class="col-lg-10">
            <%= f.text_field :precio, class: "form-control", placeholder: "Precio unitario"%>
          </div>
        </div>
         



</fieldset>
       <div class="col-lg-offset-4">
              <div class="btn-group">
                   <a><%= f.submit "Guardar", class: "btn btn-info btn-raised" %></a>  
              </div>
              <div class="btn-group">     
                   <a><%= link_to "Volver", empresa_producto_item_productos_path,class: "btn btn-info btn-raised" %></a>  
              </div>
        </div>
</form>
<% end %>
