<%= form_for([@empresa,@producto,@item_producto,@opinion]) do |f| %>
  <% if @opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
      <% @opinion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal" >
    <fieldset>
      <legend>Datos del Comentario</legend>
      <div class="form-group">
        <label for="" class="col-lg-4 control-label">Nombre:</label>
        <div class="col-lg-12">
          <%= f.text_field :nombre, class: "form-control", placeholder: "Nombre"%>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-lg-4 control-label">Nacionaldad:</label>
        <div class="col-lg-12">
          <%= f.text_field :nacionalidad, class: "form-control", placeholder: "Nacionalidad"%>
        </div>
      </div>          
      <div class="form-group">
        <label for="" class="col-lg-4 control-label">País:</label>
        <div class="col-lg-12">
          <%= f.text_field :pais, class: "form-control", placeholder: "País"%>
        </div>
      </div>   
      <div class="form-group">
        <label for="" class="col-lg-4 control-label">Ciudad:</label>
        <div class="col-lg-12">
          <%= f.text_field :ciudad, class: "form-control", placeholder: "Ciudad"%>
        </div>
      </div>   
      <div class="form-group">
        <label for="" class="col-lg-4 control-label">Comentario:</label>
        <div class="col-lg-12">
          <%= f.text_field :comentario, class: "form-control", placeholder: "Comentario"%>
        </div>
      </div>  
      <div class="form-group">
        <div class="col-lg-12 text-center">
          <%= f.submit "Guardar", class: "btn btn-info btn-raised" %>
          <%= link_to 'Atrás', empresa_producto_item_producto_opinions_path,class: "btn btn-info btn-raised" %>
        </div>
      </div>
    </fieldset>
  </form>
  <% end %>
