<div class="container">
<div class="col-md-12">
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title text-center" >Comentarios del Producto</h2>
      </div>   
      <div class="col-lg-offset-5">
        <div class="btn-group">
          <a ><%= link_to "<button type='button'class='btn btn-info'>Nuevo</button>".html_safe, new_empresa_producto_item_producto_opinion_path  %></a> 
        </div>
        <div class="btn-group">
          <a ><%= link_to "<button type='button'class='btn btn-info'>Volver</button>".html_safe, empresa_producto_item_productos_path %></a>  
        </div>
      </div>      
    <% if @item_producto.opinions.empty? == false%>
          <div class="panel-body">
        <table class="table table-striped "> 
          <thead>
            <tr class="info">
             <th class="text-center"><h5><b>Nombre</b></h5></th>
             <th class="text-center"><h5><b>Nacionalidad</b></h5></th>
             <th class="text-center"><h5><b>Pais</b></h5></th>
             <th class="text-center"><h5><b>Ciudad</b></h5></th>
             <th class="text-center"><h5><b>Comentario</b></h5></th>
             <th class="text-center"><h5><b>Acciones</b></h5></th>
             </tr>
             </thead>
           <tbody>
      <% @opinions.each do |opinion| %>
          <div class="row">
            <tr class="active">
              <td><h5><%= opinion.nombre %></h5></td>
              <td><h5><%= opinion.nacionalidad %></h5></td>
              <td><h5><%= opinion.pais %></h5></td>
              <td><h5><%= opinion.ciudad %></h5></td>
               <td><h5><%= opinion.comentario %></h5></td>
               <td class="text-center">
                  <div class="btn-group btn-group-vertical">
                    <a><%= link_to 'Ver', empresa_producto_item_producto_opinion_path(@empresa,@producto,@item_producto,opinion),:class => "btn btn-info" %></a>
                    <a><%= link_to 'Editar', [:edit, @empresa,@producto,@item_producto,opinion],:class => "btn btn-info"%></a>  
                    <a><%= link_to 'Eliminar',empresa_producto_item_producto_opinion_path(@empresa,@producto,@item_producto,opinion), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-info" %></a> 
                  </div>
              </td>
            </tr>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table> 
