</script>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-offset-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title text-center" >Imagenes de Información Nutricional</h2>
        </div>
        <div class="col-lg-offset-4">
          <div class="btn-group">
            <a ><%= link_to "<button type='button'class='btn btn-info'>Nuevo</button>".html_safe, new_empresa_producto_prop_general_galeria_prop_path%></a> 
          </div>
          <div class="btn-group">    
            <a ><%= link_to "<button type='button'class='btn btn-info'>Volver</button>".html_safe, empresa_producto_prop_generals_path%></a>   
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped "> 
            <tr class="info ">
              <th class="text-center"><h5><b>Imagen</b></h5></th>
              <th class="text-center"><h5><b>Acciones</b></h5></th>
            </tr>
            <% if @prop_general.galeria_props.empty? == false%>
            <% @galeria_props.each do |galeria_prop| %>
            <div class="row">
              <tr class="active">
                <td class="text-center"><%= image_tag galeria_prop.image.url(:thumb) %></td>
                <td>
                  <div class="col-lg-offset-2">
                   <div class="btn-group-vertical">
                      <a><%= link_to 'Editar', edit_empresa_producto_prop_general_galeria_prop_path(@empresa,@producto,@prop_general,galeria_prop),:class => "btn btn-info"  %></a>
                      <a><%= link_to 'Eliminar', empresa_producto_prop_general_galeria_prop_path(@empresa,@producto,@prop_general,galeria_prop), method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-info"  %></a>
                    </div>
                  </div>
                </td>
              </tr>
            </div>
            <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
