<div class="container">
<div class="col-md-12">
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title text-center" >Videos del Producto</h2>
      </div>   
      <div class="col-lg-offset-5">
        <div class="btn-group">
          <a ><%= link_to "<button type='button'class='btn btn-info'>Nuevo</button>".html_safe, new_empresa_producto_item_producto_videos_producto_path  %></a> 
        </div>
        <div class="btn-group">
          <a ><%= link_to "<button type='button'class='btn btn-info'>Volver</button>".html_safe, empresa_producto_item_productos_path %></a>  
        </div>
      </div>            

    <% if @item_producto.videos_productos.empty? == false%>
          <div class="panel-body">
        <table class="table table-striped "> 
          <thead>
            <tr class="info">
             <th class="text-center"><h5><b>Título</b></h5></th>
             <th class="text-center"><h5><b>Descripción</b></h5></th>
             <th class="text-center"><h5><b>URL</b></h5></th>
             <th class="text-center"><h5><b>Video</b></h5></th>
             <th class="text-center"><h5><b>Acciones</b></h5></th>
             </tr>
             </thead>
           <tbody>
    <% @videos_productos.each do |videos_producto| %>
          <div class="row">
            <tr class="active">
              <td><h5><%= videos_producto.titulo %></h5></td>
              <td><h5><%= videos_producto.descripcion %></h5></td>
              <td><h5><%= videos_producto.url %></h5></td>
              <td class="text-center"><h5><% @video_id = (/([\w-]{11})/.match(videos_producto.url)).to_s %>
                  <%@embed_code = "<iframe width='440' height='260' src='http://www.youtube.com/embed/#{@video_id}' frameborder='0' allowfullscreen></iframe>"%>
                  <%= raw(@embed_code) %> </h5></td>      
              <td class="text-center">
                <div class="btn-group btn-group-vertical">
                  <a><%= link_to 'Ver',   empresa_producto_item_producto_videos_producto_path(@empresa,@producto,@item_producto,videos_producto),:class => "btn btn-info"%></a>
                  <a><%= link_to 'Editar', [:edit, @empresa,@producto,@item_producto,videos_producto], :class => "btn btn-info"%></a>     
                   <a><%= link_to 'Eliminar',empresa_producto_item_producto_videos_producto_path(@empresa,@producto,@item_producto,videos_producto), method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-info"%></a> 
                </div>
              </td>
            </tr>
            </div>
    <% end %>
   <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>

