
<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Videos del Producto</h2>
            </div>
                
            <div class="panel-body">
                <form class="form-horizontal" >
	                <legend>Datos de Video del Producto</legend>
	                <fieldset>
                        <div class="form-group">
                            <label for="" class="col-lg-2 control-label">Titulo:</label>
                            <div class="col-lg-10">
                                <input class="form-control" value=<%= @videos_producto.titulo%> disabled = true>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="" class="col-lg-2 control-label">URL:</label>
                            <div class="col-lg-10">
                                <input class="form-control" value=<%= @videos_producto.url %> disabled = true>
                            </div>
                        </div>   
                         <div class="form-group">
                            <label for="" class="col-lg-2 control-label">Descripción:</label>
                            <div class="col-lg-10">
                                <input class="form-control" value=<%= @videos_producto.descripcion %> disabled = true>
                            </div>
                        </div>                     
                    </fieldset>
                </form>  
            </div> 
        </div>
        <div class="panel panel-info">
        	<div class="panel-body text-center">
                <div class="col-lg-offset1">
      				<% @video_id = (/([\w-]{11})/.match(@videos_producto.url)).to_s %>
					<%@embed_code = "<iframe width='650' height='360' src='http://www.youtube.com/embed/#{@video_id}' frameborder='0' allowfullscreen></iframe>"%>
					<%= raw(@embed_code) %>	
             	</div>
     	        <div class="form-group">
			      <div class="col-lg-12 text-center">
			        <%= link_to 'Volver',  empresa_producto_item_producto_videos_productos_path, class: "btn btn-info btn-raised" %>
			      </div>
			    </div> 
            </div>
        </div>        
    </div>
</div>
