<h1>Listing prop_generals</h1>

<table>
  <thead>
    <tr>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @producto.prop_generals.empty? == false%>
    <% @prop_generals.each do |prop_general| %>
      <tr>
        <td><%= prop_general.descripción %></td>
        <td><%= link_to 'Show', empresa_producto_prop_general_path(@empresa,@producto,prop_general) %></td>
        <td><%= link_to 'Edit', [:edit, @empresa,@producto,prop_general]%></td>  
        <td><%= link_to 'Destroy',empresa_producto_prop_general_path(@empresa,@producto,prop_general), method: :delete, data: { confirm: 'Are you sure?' } %></td>  
        <td><%= link_to 'Items',  empresa_producto_prop_general_prop_general_items_path(@empresa,@producto,prop_general)%></td>
        <td><%= link_to 'Imagenes',  empresa_producto_prop_general_galeria_props_path(@empresa,@producto,prop_general)%></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo',  new_empresa_producto_prop_general_path %>
<%= link_to 'Atras',  empresa_productos_path %>
