<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Propiedades Generales del Producto</h2>
            </div>
                <div class="col-lg-offset-5">
                    <div class="btn-group">
                        <a ><%= link_to "<button type='button'class='btn btn-info'>Nuevo</button>".html_safe, new_empresa_producto_prop_general_path%></a> 
                    </div>
                    <div class="btn-group">    
                        <a ><%= link_to "<button type='button'class='btn btn-info'>Volver</button>".html_safe,empresa_producto_path(@empresa,@producto)%></a>   
                    </div>
                </div>                
                <div class="panel-body">
                    <table class="table table-striped"> 
                        <thead>                              
                            <tr class="info">
                              <th class="text-center"><h5><b>Descripción</b></h5></th>
                              <th class="text-center"><h5><b>Acciones</b></h5></th>
                            </tr>
                        </thead>
                        <% if @producto.prop_generals.empty? == false%>
                        <% @prop_generals.each do |prop_general| %>
                          <div class="row">
                            <tr class="active">
                              <td><h5><%= prop_general.descripción %></h5></td>
                                <td class="text-center">
                                    <div class="btn-group-vertical">
                                      <!--<a><%= link_to 'Show', empresa_producto_prop_general_path(@empresa,@producto,prop_general),:class => "btn btn-info btn-raised" %></a>-->
                                      <a><%= link_to 'Editar', [:edit, @empresa,@producto,prop_general],:class => "btn btn-info btn-raised"%></a>  
                                      <a><%= link_to 'Eliminar',empresa_producto_prop_general_path(@empresa,@producto,prop_general), method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-info btn-raised"%></a>
                                      <a><%= link_to 'Información Nutricional',  empresa_producto_prop_general_prop_general_items_path(@empresa,@producto,prop_general),:class => "btn btn-info btn-raised"%></a>
                                      <a><%= link_to 'Imagenes ',  empresa_producto_prop_general_galeria_props_path(@empresa,@producto,prop_general),:class => "btn btn-info btn-raised"%></a>
                                    </div>
                                </td>
                            </tr>
                          </div>
                         <% end %>
                        <% end %>
                    </table>
              </div>
          </div>
    </div>
  </div>


