<%= form_for([@empresa,@producto,@galeria_proceso]) do |f| %>
  <% if @galeria_proceso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@galeria_proceso.errors.count, "error") %> prohibited this galeria_proceso from being saved:</h2>

      <ul>
      <% @galeria_proceso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal" >
    <fieldset>
        <legend>Datos de la Imagen de Información Nutricional</legend>
          <div class="form-group">
            <label for="" class="col-lg-4 control-label">Título:</label>
            <div class="col-lg-12">
              <%= f.text_field :título, class: "form-control", placeholder: "Título"%>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-lg-4 control-label">Descripción:</label>
            <div class="col-lg-12">
              <%= f.text_area :descrición, class: "form-control", placeholder: "Descripción"%>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-lg-4 control-label">Imagen:</label>
            <div class="col-lg-12">
              <%= f.file_field :image,class: "form-control"%>
            </div>
          </div>
          <div class="form-group">
              <div class="col-lg-12 text-center">
                  <%= f.submit "Guardar", class: "btn btn-info btn-raised" %>
                  <%= link_to 'Volver', empresa_producto_galeria_procesos_path,class: "btn btn-info btn-raised" %>
              </div>
          </div>
          </fieldset>
  </form>
<% end %>
