<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @galeria_proceso.título %>
</p>

<p>
  <strong>Descrición:</strong>
  <%= @galeria_proceso.descrición %>
</p>

<p>
  <strong>Descrición:</strong>
 <%= @galeria_proceso.image.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_empresa_producto_galeria_proceso_path(@empresa,@producto,@galeria_proceso) %> |
<%= link_to 'Back', empresa_producto_galeria_procesos_path %>
