<h1>Listing productos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% if @empresa.productos.empty? == false%>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.titulo %></td>
        <td><%= link_to 'Show', empresa_producto_path(@empresa,producto) %></td>
        <td><%= link_to 'Edit', edit_empresa_producto_path(@empresa,producto) %></td>
        <td><%= link_to 'Destroy', [producto.empresa, producto], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Información de productos', empresa_producto_item_productos_path(@empresa,producto)%></td>
         <td><%= link_to 'Propiedades',  empresa_producto_prop_generals_path(@empresa,producto)%></td>
         <td><%= link_to 'Procesos de elaboración',  empresa_producto_galeria_procesos_path(@empresa,producto)%></td>
         <td><%= link_to 'Consumisión de la yerba mate',  empresa_producto_preparar_mates_path(@empresa,producto)%></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_empresa_producto_path %>
<%= link_to 'Inicio', empresas_path%>