<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title text-center" >Categoria de Productos</h2>
                </div>
                <div class="col-lg-offset-5">
                    <div class="btn-group">
                        <a ><%= link_to "<button type='button'class='btn btn-info'>Nuevo</button>".html_safe, new_empresa_producto_path%></a> 
                    </div>
                    <div class="btn-group">    
                        <a ><%= link_to "<button type='button'class='btn btn-info'>Volver</button>".html_safe, empresa_path(@empresa)%></a>   
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped"> 
                        <thead>                              
                            <tr class="info">
                              <th class="text-center">Categoria del Producto</th>
                              <th class="text-center">Acciones</th>
                            </tr>
                      </thead>
                     <% if @empresa.productos.empty? == false%>
                        <% @productos.each do |producto| %>
                            <div class="row">
                              <tr class="active">
                                <td><h6><%= producto.titulo %></h6></td>
                                <td>
                                    <div class="col-lg-offset-2">
                                      <div class="btn-group">
                                            <a><%= link_to 'Productos', empresa_producto_path(@empresa,producto), :class => "btn btn-info btn-raised"%></a>
                                            <a><%= link_to 'Editar', edit_empresa_producto_path(@empresa,producto) ,:class => "btn btn-info btn-raised"%></a>
                                            <a><%= link_to 'Eliminar',[producto.empresa, producto], method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-info btn-raised" %></a>
                                        </div>
                                      </div>
                                </td>
                              </tr>
                            </div>
                        <% end %>
                    <% end %>
                </table>  
              </div>
            </div>
        </div>
    </div>
</div>

