<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Gesti贸n de Categoria del Producto</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" >
                 <legend>Datos de Categoria</legend>
                 <fieldset>
                    <div class="form-group">
                        <label for="" class="col-lg-2 control-label">Nombre:</label>
                        <%=text_field_tag 'query',@producto.titulo ,:readonly => true%>
                    </div>                                
                </fieldset>
            </form>  
        </div> 
    </div>
    <div class="panel panel-info">
        <div class="panel-body text-center">
            <div class="btn-group-vertical">
                <a href="javascript:void(0)" ><%= link_to 'Informaci贸n de productos', empresa_producto_item_productos_path(@empresa,@producto),:class => "btn btn-info btn-raised" %></a>
                <a href="javascript:void(0)" ><%= link_to 'Propiedades',  empresa_producto_prop_generals_path(@empresa,@producto) ,:class => "btn btn-info btn-raised" %></a>
                <a href="javascript:void(0)" ><%=link_to 'Preparaci贸n para el consumo',  empresa_producto_galeria_prep_mates_path(@empresa,@producto),:class => "btn btn-info btn-raised" %></a>
            </div>
            <div class="btn-group-vertical">
                <a href="javascript:void(0)" ><%= link_to 'Procesos de elaboraci贸n',  empresa_producto_galeria_procesos_path(@empresa,@producto) ,:class => "btn btn-info btn-raised" %></a>        
                <a href="javascript:void(0)" ><%= link_to 'Tips para el consumo',  empresa_producto_preparar_mates_path(@empresa,@producto),:class => "btn btn-info btn-raised" %></a>
                <a href="javascript:void(0)" ><%=link_to 'Volver',  empresa_productos_path,:class => "btn btn-info btn-raised" %></a>                     
                
            </div>

        </div>
    </div>
</div>
</div>


