<div class="container">
<div class="col-md-10 col-lg-offset-1" >
		<div class="row">

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 class="panel-title text-center" >Consulta de Clientes</h2>
				</div>
				<div class="col-md-3 col-lg-offset-5">
					<div class="btn-group">
						<a ><%= link_to "<button type='button'class='btn btn-info'>Nuevo</button>".html_safe, new_empresa_consulta_cliente_path%></a> 
					</div>
					<div class="btn-group">    
						<a ><%= link_to "<button type='button'class='btn btn-info'>Volver</button>".html_safe, empresa_path(@empresa)%></a>   
					</div>
				</div>

				<div class="panel-body">
					<table class="table table-striped "> 
						<thead>
							<tr class="info ">
								<th class="text-center"><h5><b>Nombre</b></h5></th>
								<th class="text-center"><h5><b>Correo</b></h5></th>
								<th class="text-center"><h5><b>Telefono</b></h5></th>
								<th class="text-center"><h5><b>Descripcion</b></h5></th>
								<th class="text-center"><h5><b>Acciones</b></h5></th>
							</tr>
						</thead>
						<tbody>
							<% if @empresa.consulta_clientes.empty? == false %>
							<% @consulta_clientes.each do |consulta_cliente| %>
							<div class="row">
								<tr class="active">
									<td><h5><%= consulta_cliente.nombre %></h5></td>
									<td><h5><%= consulta_cliente.correo%></h5></td>
									<td><h5><%= consulta_cliente.telefono%></h5></td>
									<td><h5><%= consulta_cliente.descripcion%></h5></td>
									<td class="text-center">
										<div class="btn-group btn-group-vertical">
											<a><%= link_to 'Ver', empresa_consulta_cliente_path(@empresa,consulta_cliente),:class => "btn btn-info"%></a>
											<a><%= link_to 'Editar', [:edit, @empresa,consulta_cliente],:class => "btn btn-info" %></a>
											<a><%= link_to 'Eliminar',[consulta_cliente.empresa, consulta_cliente], method: :delete, data: { confirm: 'Are you sure?'} ,:class => "btn btn-info" %></a>
										</div>                        
									</td>                                 
								</tr>
							</div>
							<% end %>
							<% end %>
						</tbody>
					</table>
				</div>  
			</div>
		</div>
	</div>
</div>

<!--<%= link_to 'New Consulta cliente', new_empresa_consulta_cliente_path %>-->
