
<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-horizontal" >
    <fieldset>
        <legend>Datos de empresa</legend>
        <div class="form-group">
          <label for="" class="col-lg-2 control-label">Nombre:</label>
          <div class="col-lg-10">
            <%= f.text_field :nombre, class: "form-control", placeholder: "Nombre"%>
          </div>
        </div>
        <div class="form-group">
            <label for="" class="col-lg-2 control-label">Actividad:</label>
          <div class="col-lg-10">
            <%= f.text_field :actividad, class: "form-control", placeholder: "Actividad"%>
          </div>
        </div>
       <div class="form-group">
            <label for="" class="col-lg-2 control-label">País:</label>
          <div class="col-lg-10">
            <%= f.text_field :país, class: "form-control", placeholder: "País"%>
          </div>
       </div>        
       <div class="form-group">
            <label for="" class="col-lg-2 control-label">Provincia:</label>
          <div class="col-lg-10">
            <%= f.text_field :provincia, class: "form-control", placeholder: "Provincia"%>
          </div>
       </div>
       <div class="form-group">
            <label for="" class="col-lg-2 control-label">Localidad:</label>
          <div class="col-lg-10">
            <%= f.text_field :localidad, class: "form-control", placeholder: "Localidad"%>
          </div>
       </div>
       <div class="form-group">
            <label for="" class="col-lg-2 control-label">Dirección:</label>
          <div class="col-lg-10">
            <%= f.text_field :dirección, class: "form-control", placeholder: "Dirección"%>
          </div>
       </div>
        <div class="form-group">
            <label for="" class="col-lg-2 control-label">Teléfono:</label>
          <div class="col-lg-10">
            <%= f.text_field :telefono, class: "form-control", placeholder: "Telefono"%>
          </div>
       </div> 
       <div class="form-group">
            <label for="" class="col-lg-2 control-label">Misión:</label>
          <div class="col-lg-10">
            <%= f.text_field :misión, class: "form-control", placeholder: "Misión"%>
          </div>
       </div> 
       <div class="form-group">
            <label for="" class="col-lg-2 control-label">Visión:</label>
          <div class="col-lg-10">
            <%= f.text_area :visión, class: "form-control", placeholder: "Visión"%>
          </div>
       </div>  
       <div class="form-group">
          <label for="" class="col-lg-2 control-label">Logo:</label>
          <div class="col-lg-10">
              <%= f.file_field :image, class: "form-control"%>
          </div>
        </div>             
       <div class="col-lg-offset-4">
              <div class="btn-group">
                   <a><%= f.submit "Guardar", class: "btn btn-info btn-raised" %></a>  
              </div>
              <div class="btn-group">     
                   <a><%= link_to "Volver", empresas_path,class: "btn btn-info btn-raised" %></a>  
              </div>
        </div>
</fieldset>
</form>
<% end %>
