<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title text-center" >Gestor de Empresas</h2>
            </div>   
            <div class="text-center">
                <div class="btn-group">
                    <a ><%= link_to "<button type='button'class='btn btn-info'>Nueva Empresa</button>".html_safe, new_empresa_path %></a>  
                </div> 
            </div> 
            <div class="panel-body">
                <table class="table table-striped "> 
                    <thead>
                        <tr class="info">
                           <th><h5><b>Nombre</b></h5></th>
                           <th><h5><b>Actividad</b></h5></th>
                           <th><h5><b>Pais</b></h5></th>
                           <th><h5><b>Provincia</b></h5></th>
                           <th><h5><b>Localidad</b></h5></th>
                           <th><h5><b>Dirección</b></h5></th>
                           <th><h5><b>Teléfono</b></h5></th>
                           <th><h5><b>Misión</b></h5></th>
                           <th><h5><b>Visión</b></h5></th>
                           <th><h5><b>Logo</b></h5></th>
                           <th><h5><b>Acciones</b></h5></th>
                        </tr>
                    </thead>
                    <% @empresas.each do |empresa| %>
                    <div class="row">
                            <tr class="active">
                              <td ><h6><%= empresa.nombre%></h6></td>
                              <td ><h6><%= empresa.actividad %></h6></td>
                              <td ><h6><%= empresa.país %></h6></td>
                              <td ><h6><%= empresa.provincia %></h6></td>
                              <td ><h6><%= empresa.localidad %></h6></td>
                              <td ><h6><%= empresa.dirección %></h6></td>
                              <td ><h6><%= empresa.telefono %></h6></td>
                              <td ><h6><%= empresa.misión %></h6></td>
                              <td ><h6><%= empresa.visión %></h6></td>
                              <td class="text-center"><h6><%= image_tag empresa.image.url(:thumb) %></h6></td>
                              <td>
                              <div class="btn-group-vertical">
                                <a ><%= link_to 'Administrar contenido', empresa ,:class => "btn btn-info btn-raised"%></a>
                                <a > <%= link_to 'Editar', edit_empresa_path(empresa) ,:class => "btn btn-info btn-raised"%></a>
                                <a>  <%= link_to 'Eliminar', empresa_path(empresa), method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-info btn-raised"%></a>
                                </div>
                              </td>               
                           </tr>   
                    </div>
                    <% end %>
                </table>  

            </div>      
        </div>
    </div>
</div>

