<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Administración de contenidos</h2>
            </div>
                
            <div class="panel-body">
                <form class="form-horizontal" >
                <legend>Datos de Empresa</legend>
                <fieldset>
                        <div class="form-group">
                            <label for="" class="col-lg-2 control-label">Nombre:</label>
                            <div class="col-lg-10">
                                <input class="form-control" value=<%= @empresa.nombre %> disabled = true>
                            </div>
                        </div>    
                        <div class="form-group">
                            <label for="" class="col-lg-2 control-label">Actividad:</label>
                            <div class="col-lg-10">
                                <input class="form-control" value=<%= @empresa.actividad %> disabled = true>
                            </div>
                        </div>                              
                    </fieldset>
                </form>  
            </div> 
        </div> 
        <div class="panel panel-info">
            <div class="panel-body text-center">
                <div class="btn-group-vertical">
                    <a href="javascript:void(0)" ><%= link_to 'Noticias',empresa_noticia_empresas_path(@empresa) ,:class => "btn btn-info btn-raised" %></a>
                    <!--a href="javascript:void(0)" ><%= link_to 'Información de Empresa',empresa_informacion_empresas_path(@empresa) ,:class => "btn btn-info btn-raised" %></a>-->
                     <a href="javascript:void(0)" ><%= link_to 'Encuestas', empresa_estadisticas_path(@empresa),:class => "btn btn-info btn-raised"  %></a>
                </div>
                <div class="btn-group-vertical">
                   <a href="javascript:void(0)" ><%= link_to 'Categoria de Productos',empresa_productos_path(@empresa),:class => "btn btn-info btn-raised"  %></a>
                   <a href="javascript:void(0)" ><%= link_to 'Mapa Geogŕafico', empresa_ubicacion_geos_path(@empresa),:class => "btn btn-info btn-raised"  %></a>

                </div>
                <div class="btn-group-vertical">
                    <a><%= link_to 'Videos', empresa_videos_path(@empresa),:class => "btn btn-info btn-raised"  %>      
                    <a><%= link_to 'Consulta de Clientes', empresa_consulta_clientes_path(@empresa),:class => "btn btn-info btn-raised"  %></a>
                </div>   
                <div class="text-center"></div>
                <a><%= link_to 'Volver', empresas_path,:class => "btn btn-info btn-raised"  %></a>                        
            </div>  

        </div>        
    </div>
</div>
