<%= form_for ([@empresa,@informacion_empresa,@item_de_info])  do |f| %>
  <% if @item_de_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_de_info.errors.count, "error") %> prohibited this item_de_info from being saved:</h2>

      <ul>
      <% @item_de_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <form class="form-horizontal" >
      <fieldset>
        <legend>Datos de los contenidos de Items</legend>
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Titulo:</label>
            <div class="col-lg-10">
              <%= f.text_field :título, class: "form-control", placeholder: "Título"%>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Descripción:</label>
            <div class="col-lg-10">
              <%= f.text_area :descripción, class: "form-control", placeholder: "Descripción"%>
            </div>
          </div>  
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Imagen:</label>
            <div class="col-lg-10">
              <%= f.file_field :image, class: "form-control"%>
            </div>
          </div>                    
          <div class="form-group">
              <div class="col-lg-12 text-center">
                  <%= f.submit "Guardar", class: "btn btn-info btn-raised" %>
                  <%= link_to 'Atrás', empresa_informacion_empresa_item_de_infos_path,class: "btn btn-info btn-raised" %>
              </div>
          </div>
      <% end %>
      </fieldset>
  </form>
