<%= form_for([@empresa,@producto,@galeria_prep_mate]) do |f| %>
<% if @galeria_prep_mate.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@galeria_prep_mate.errors.count, "error") %> prohibited this galeria_prep_mate from being saved:</h2>

  <ul>
    <% @galeria_prep_mate.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<form class="form-horizontal" >
  <fieldset>
    <legend>Datos de Tip de Preparación para el Consumo</legend>
    <div class="form-group">
      <label for="" class="col-lg-2 control-label">Titulo:</label>
      <div class="col-lg-10">
        <%= f.text_field :título, class: "form-control", placeholder: "Título"%>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-lg-2 control-label">Descripción:</label>
      <div class="col-lg-10">
        <%= f.text_area  :descrición, class: "form-control", placeholder: "Descripción"%>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-lg-2 control-label">Imagen:</label>
      <div class="col-lg-10">
        <%= f.file_field :image, class: "form-control", placeholder: "Imagen"%>
      </div>
    </div>
    <div class="col-lg-offset-4">     
       <div class="btn-group">
       <a><%= f.submit "Guardar", class: "btn btn-info btn-raised" %></a>  
      </div>
     <div class="btn-group">     
     <a><%= link_to "Volver", empresa_producto_galeria_prep_mates_path,class: "btn btn-info btn-raised" %></a>  
     </div>
 </div>
</fieldset>
</form>
<% end %>
