<%= form_for([@empresa,@producto,@item_producto,@galeria_imagene]) do |f| %>
<% if @galeria_imagene.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@galeria_imagene.errors.count, "error") %> prohibited this item_producto from being saved:</h2>

  <ul>
    <% @galeria_imagene.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<form class="form-horizontal" >
  <fieldset>
  <legend>Datos de la Imagen </legend>
    <div class="form-group">
      <label for="" class="col-lg-2 control-label">Título:</label>
      <div class="col-lg-10">
        <%= f.text_field :titulo, class: "form-control", placeholder: "Título"%>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-lg-2 control-label">Descripción:</label>
      <div class="col-lg-10">
        <%= f.text_area :descripcion, class: "form-control", placeholder: "Descripción"%>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-lg-2 control-label">Descripción:</label>
      <div class="col-lg-10">
        <%= f.file_field :image, class: "form-control"%>
      </div>
    </div>
    <div class="col-lg-offset-4">
      <div class="btn-group">
       <a><%= f.submit "Guardar", class: "btn btn-info btn-raised" %></a>  
     </div>
     <div class="btn-group">     
       <a><%= link_to "Volver", empresa_producto_item_producto_galeria_imagenes_path,class: "btn btn-info btn-raised" %></a>  
     </div>
   </div>
 </fieldset>
</form>

<% end %>
