<h1>Listing galeria_imagenes</h1>


<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @item_producto.galeria_imagenes.empty? == false%>
    <% @galeria_imagenes.each do |galeria_imagene| %>
      <tr>
        <td><%= galeria_imagene.titulo %></td>
        <td><%= galeria_imagene.descripcion %></td>
        <td><%= image_tag galeria_imagene.image.url(:thumb) %></td>
        <td><%= link_to 'Show',   empresa_producto_item_producto_galeria_imagene_path(@empresa,@producto,@item_producto,galeria_imagene) %></td>
        <td><%= link_to 'Edit', [:edit, @empresa,@producto,@item_producto,galeria_imagene]%></td>     
         <td><%= link_to 'Destroy',empresa_producto_item_producto_galeria_imagene_path(@empresa,@producto,@item_producto,galeria_imagene), method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
   <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Galeria imagane', new_empresa_producto_item_producto_galeria_imagene_path %>
<%= link_to 'Back Items productos' , empresa_producto_item_productos_path%>
<%= link_to 'Inicio', empresas_path%>
