<p id="notice"><%= notice %></p>

<!--<p>
  <strong>Califproducto:</strong>
  <%= @estadistica.califproducto %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @estadistica.precio %>
</p>

<p>
  <strong>Otrosabor:</strong>
  <%= @estadistica.otrosabor %>
</p>

<p>
  <strong>Imagenempresareg:</strong>
  <%= @estadistica.imagenempresareg %>
</p>

<p>
  <strong>Yerbamedicinal:</strong>
  <%= @estadistica.yerbamedicinal %>
</p>

<p>
  <strong>Sabortoman:</strong>
  <%= @estadistica.sabortoman %>
</p>

<p>
  <strong>Saboredad:</strong>
  <%= @estadistica.saboredad %>
</p>

<p>
  <strong>Cambiodeproducto:</strong>
  <%= @estadistica.cambiodeproducto %>
</p>

<p>
  <strong>Enteroprod:</strong>
  <%= @estadistica.enteroprod %>
</p>

<p>
  <strong>Cuantoconsumo:</strong>
  <%= @estadistica.cuantoconsumo %>
</p>

<p>
  <strong>Otroproducto:</strong>
  <%= @estadistica.otroproducto %>
</p>

<p>
  <strong>Justifprod:</strong>
  <%= @estadistica.justifprod %>
</p>

<p>
  <strong>Recomendacion:</strong>
  <%= @estadistica.recomendacion %>
</p>

<%= link_to 'Edit', edit_estadistica_path(@estadistica) %> |
<%= link_to 'Back', estadisticas_path %>
-->